
.conteudo {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    
    background-color: #6057CD;
    padding: 70px 0;
}

.footer-cont {
    width: 25%;
    padding: 0 15px;
}

.footer-cont h4 {
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-cont h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #808080;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-cont ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-cont ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-cont ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
}

.footer-cont ul li a:hover {
    color: #808080;
    padding-left: 10px;
}

.footer-cont .redes_sociais a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-cont .redes_sociais .facebook:hover {
    color: #24262b;
    background-color: #1E90FF;
}

.footer-cont .redes_sociais .twitter:hover {
    color: #24262b;
    background-color: #00BFFF;
}

.footer-cont .redes_sociais .instagram:hover {
    color: #24262b;
    background-color: #C13584;
}

.footer-cont .redes_sociais .youtube:hover {
    color: #24262b;
    background-color: #c4302b;
}


/* Desenvolvedor Davi Costa */