
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif; 
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    width: 100%; Height:2250px;
    display:flex; flex-wrap: wrap;  flex-direction: column;
    /*border: 1px solid black;*/
    justify-content:flex-start;
    align-content:center;
}


/*NOTICIAS*/
#container-noticias {
    
    flex-wrap: wrap;
    display:flex;
    justify-content: space-around;
    width:85%; height: 540px;
   /* border: 1px solid black;*/
    overflow:auto;
}

.noticia{
    width: 336px; height: 250px;
   display:grid;
   
}
/*tumbnail das noticias */
.tumb{
    display:flex;
    width: 329px; height: 200px;
    position:relative; left:2px; top:3px;
}
.tumb:hover {
    box-shadow:2px 2px 20px rgb(117, 117, 238);
    height: 202px;
    left:1px; top:1px;
    
}
/* titulo noticias*/
.form-title-news{
    text-decoration: none;
    text-align: justify;
    font-size: 9px;
    color: black;
}
.form-title-news:hover{
    color:rgb(117, 117, 238);
}
/* /NOTICIAS */

/*livros publicados*/
#livros-publicados{
    /*border: 1px solid black;*/
    display:flex; flex-wrap:wrap; 
    width: 85%; height: 348px;
    padding:10px; padding-left:30px;
    overflow:auto;
}
.livros{
    
    display:flex; flex-wrap:wrap; 
    width: 230px; height: 320px;
    margin-left:30px;
}

.capa-livros{
    display:flex; position:relative; 
    left:0px; top:0px;
    width: 223px; height: 270px;
}
.capa-livros:hover {
    box-shadow:2px 2px 20px rgb(117, 117, 238);
    height: 272px;
    left:-1px; top:-1px;
}
.Nome-livros{
    text-decoration: none;
    text-align: justify;
    font-size: 9px;
    color: black;
   
}
.Nome-livros:hover{
    color:rgb(117, 117, 238);
}
/* /livros publicados */

/* livros em destaque*/

#livros-destaque{
    display:flex; flex-wrap:wrap; flex-direction:column;S
    width: 85%; height: 390px;
    padding-top:30px;
    overflow:auto;
}

.lista-livros{
    
    display:flex; flex-wrap:wrap; 
    width: 45%; height: 100px;
    margin-left:25px;
    padding: 1px;
}

.capa-livro-destaq{
    
    display:flex; position:relative; 
    left:0px; top:0px;
    width: 100px; height: 92px;

}
.capa-livro-destaq:hover{
    box-shadow:2px 2px 15px rgb(117, 117, 238);
    height: 94px;
    left:1px; top:1px;
}
.livro-desc{
    width:380px; height:50px;
    text-decoration: none;
    text-align: justify;
    font-size: 9px;
    color: black;
    position:relative; left:10px; top:20px;
}
.livro-desc:hover{
    color:rgb(117, 117, 238);
}

/* /livros em destaque*/

/* exposições */
#exposi{
    display:flex;flex-wrap: wrap;
    width:475px; height: 620px;

}
.exp{
    display:flex;

width:450px; height:120px;
margin-left:15px;

}
.img-exp{
display:flex;
height: 115px; width: 192px;
}
.img-exp:hover{
    box-shadow:2px 2px 10px rgb(117, 117, 238);
    height: 116px; width: 193;
    left:1px; top:1px;
    
}
.txt-exp{
    display:flex; flex-wrap: wrap; flex-direction: row;
font-size:9px; color: black;
text-decoration: none;
text-align: justify;
}
.txt-exp:hover{
    color:rgb(117, 117, 238);
}
/* /exposições */


/*container exposição eventos e editais*/
#container-exp-eve-edi{
    width: 85%; height:700px;
    display:flex; flex-wrap: wrap;
    overflow:auto;
}
/* /container exposição eventos e editais */


/*container eventos e editais */
#container-eve-edi{
    display:flex; flex-wrap: wrap; flex-direction:column;
    width:500px; height: 620px;
   margin-left:50px;
   
   

}
/* /container eventos e editais */


/*eventos*/
#eventos{
width:485px; height:295px;
}
/* /eventos*/

/*editais*/
#editais{
position:relative; top:20px;
width:485px; height:295px;
overflow:auto;

}
/* /editais*/

