.conteudo_home{
    text-align:center;
    margin-top:100px;
}
.classH1{
    position:relative; top:-50px;
    font-size:95px;
    margin: 10px;
}
.classH2{
    position:relative; top:-20px;
    font-size:35px;
    color: rgb(117, 117, 238);
}

.entrar{
    width: 250px;
    height: 50px;
    font-size: 15px;
    background:rgb(103, 105, 223);
    color:white;
    border:none;
    border-radius: 7px 7px;
    margin: 40px;
}
.entrar:hover{
    background-color:rgb(60, 61, 105);
}

.cadastro{
    display: block;
    text-decoration: none;
    color:#000;
}

.cadastro:hover{
    color:rgb(103, 105, 223);
    font-size: 20px;
}

.links{
    position:relative; top:-60px;
    margin-top: 120px;
    text-align: center;
}

.links a{
    text-decoration: underline;
    font-size: 20px;
    padding: 10px;
    margin: 30px;
    color: rgb(103, 105, 223);
}

.links a:hover{
    background-color:rgb(85, 85, 231);
    color: white;
    text-decoration: none;
    text-decoration-color:black;
    
}