@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

h1{
    float: left;
    text-align: center;
    margin: 100px 0px 0px 60px;
    color: rgb(65, 106, 218);
    font-size: 45px;
}

form{
    float: right;
    margin:60px  100px 0px;
}

h2{
    text-align: center;
}

input{
    display: block;
    width: 350px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px 6px;
}

label{
    margin-left: 10px;
}

button{
    display: block;
    width: 360px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 7px 7px;
    font-size: 15px;
    background: rgb(65, 106, 218);
    color: white;
}

.gmail{
    background: rgb(214, 3, 3);
}

a{
   text-decoration: none;
   color: black;
}

a:hover{
    color:rgb(65, 106, 218);
}