@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
#destaque{
    margin: 30px;
}

.logo{
    font-size:40px;
    padding: 10px;
    text-decoration: none;
    color:rgb(117, 117, 238);
}
.logo:hover{
    color: #666;
}
.seach{
    float: right;
    padding: 10px;
    width: 400px;
    height: 50px;
    font-size: 15px;
}

nav{
    display: flex;
    position:fixed;
}

nav li{
    float: left;
    list-style: none;
    padding: 20px;
}

nav li a {
    color: #666;
    font-size: 20px;
    text-decoration: none;  
}

nav a:hover{
    color: rgb(117, 117, 238);
}

.idiomas{
    float: right;
    display: flex;
    margin-right: 20px;

}

.idiomas a{
    display: flex;
    padding: 15px;
    text-decoration: none;
    color:#000;
}

.idiomas a:hover{
    color:rgb(117, 117, 238);
}